spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/allocat_db}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:Jay@postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: true
  cache:
    type: simple

logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    com.allocat: DEBUG
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: logs/allocat-erp-dev.log
    max-size: 10MB
    max-history: 30

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
